<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893601796296-ukf1bk05l08qesqp7mag4naujt8hjpdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893601796296-ukf1bk05l08qesqp7mag4naujt8hjpdd</string>
	<key>API_KEY</key>
	<string>AIzaSyC5IpGCpNuE2DjMijR3ZhRI8YzmE4cP2EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>893601796296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muzaffaribntursunboy.aliexpress</string>
	<key>PROJECT_ID</key>
	<string>flutterexpressshop</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterexpressshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893601796296:ios:dea83278bd34336ec955fd</string>
	<key>DATABASE_URL</key>
	<string>https://flutterexpressshop.firebaseio.com</string>
</dict>
</plist>